<!-- <app-header></app-header> -->
<!-- <app-navbar></app-navbar> -->
<app-home></app-home>
<!-- <app-login></app-login>
<app-home-page></app-home-page>
<app-register></app-register>
<app-aboutus></app-aboutus>
<app-logout></app-logout> -->
<router-outlet></router-outlet>