<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="navbar">
  <div class="logo" routerLink="/home1">Froath And Flavours</div>
  <ul class="nav-list">
    <li><a routerLink="/home1"><i class="fa-solid fa-house"></i>  Home</a></li>
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/orders">Items</a></li>
    <li><a routerLink="#">About Us</a></li>
    <li><a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i>  Cart</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
      </a>
      <div class="dropdown-content" aria-labelledby="accountDropdown">
        <a class="dropdown-item" routerLink="/login">Login</a>
        <a class="dropdown-item" routerLink="/register">Register</a>
      </div>
      
    </li>
    <li class="nav-item" *ngIf="authService.getLoggedIn()">
      <a class="nav-link" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></a>
    </li>


    <!-- <li id="profile-icon">
      <a href="#">
        <img src="assets/images/logo1.jpg" alt="Profile Icon">
      </a>
    </li> -->
    <!--<li><a href="#">Settings</a></li>-->
  </ul>
</div>