body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  .navbar {
    background-color: #502828e1;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .nav-list a:hover {
    color: #ffc107;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #502828e1;
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #profile-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .jumbotron {
    /* background-image: url('../../assets/images/imp.jpg'); */
    background-size: cover;
    background-position: center;
    color: rgba(255, 247, 247, 0.789);
    position: relative;
    padding: 60px;
    margin-bottom: 30px;
    text-align: center;
    height: 500px;
    width: 1200px;
  }
  
  .jumbotron .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color:rgba(231, 166, 16, 0.952);
  }
  
  .image {
    width: 30%;
    max-width: 100%;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }