body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 5rem;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 400px; /* Maximum width for small screens */
  background-color: rgba(210, 180, 140, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  color: #8B4513;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-addon {
  background-color: #8B4513;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form-control {
  border-radius: 5px;
}

.btn-coffee {
  background-color: #8B4513;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-coffee:hover {
  background-color: #A0522D;
}

.error-message {
  color: #DC143C;
}

/* Media Query for smaller screens */
/* @media only screen and (max-width: 600px) {
  .container{
    width: 90%;
  }
} */