
<div class="home-container">
  <div class="jumbotron">
    <div class="container">
      
      <h1>Welcome to Our Cafe</h1>
      <p>
        Any time is a good time for coffee.
      </p>
    </div>
  </div>
</div>
<footer id="footerSection">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/images/logo.jpg" alt="Cafe Logo">
      <h1>Vortex Vibes Cafe</h1>
    </div>
    
    <div class="footer-info">
      <div class="address">
        <h3> <i class="fa-solid fa-location-dot"></i> Visit Us</h3>
        <p>Main Street<br>Gachibowli, <br>Hyderabad</p>
      </div>
      
      <div class="contact">
        <h3>Contact Us</h3>
        <p><i class="fa-solid fa-envelope"></i>infocafemanagement.com<br><i class="fa-solid fa-phone"></i> +1 (123) 456-7890</p>
      </div>
    </div>

    <div class="social-media">
      <h3>Follow Us</h3>
      <ul>
        <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/?lang=en-in" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p><i class="fa-solid fa-copyright"></i> 2024 Cafe Management. All rights reserved.</p>
  </div>
</footer>