/* menu.component.css */

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(190, 207, 208, 0.8);
  padding: 10px;
  margin-bottom: -18.5;
}

.category {
  width: 48%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #b6dbec;
  box-sizing: border-box;
}

.category h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #446d8c;
}

.menu-item {
  display: flex;
  background-color: #8ba1b4;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #5073a8;
  border-radius: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .category {
    width: 100%;
  }
}
