<!-- navbar.component.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-coffee mt-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Cafe Management System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="buttons">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal"  [routerLink]="'/home1'">
       Home
      </button>
      <!-- <a class="nav-link" routerLink="/home">Home</a> -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" [routerLink]="'/login'">
        Open Login
      </button>
      
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal"  [routerLink]="'/register'">
        Open Registration
      </button>
      
  </div>
    
    
  </div>
</nav>








<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide mt-3" data-ride="carousel">
  <!-- Carousel Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Carousel Inner -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/coffe2.jpeg" class="d-block w-100" alt="Cafe Slide 1">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-size: 2rem;">Delicious Coffee</h5>
        <p style="font-size: 1.2rem;">Enjoy our freshly brewed coffee in a cozy atmosphere.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/cofee1.jpg" class="d-block w-100" alt="Cafe Slide 2">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-size: 2rem;">Relaxing Ambiance</h5>
        <p style="font-size: 1.2rem;">Experience a relaxing ambiance while sipping your favorite drink.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/coffee-shop.jpg" class="d-block w-100" alt="Cafe Slide 3">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-size: 2rem;">Specialty Pastries</h5>
        <p style="font-size: 1.2rem;">Indulge in our delightful selection of pastries and desserts.</p>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>