<div class="home-container">
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Our Cafe</h1>
        <p>
          Any time is a good time for coffee.
        </p>
      </div>
    </div>
  </div>

 