<!-- app.component.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">
          Froth And Flavours
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Menu">Menu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Specials">Specials</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     Affairs
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">About Us</a>
                      <a class="dropdown-item" href="#">Contact</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Reservation</a>
                  </div>
              </li>
          </ul>
          <!-- <form class="d-flex ms-lg-3">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          
      </div>
  </div>
</nav>