body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  .registration-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(210, 180, 140, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #4d4d4d;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #4d4d4d;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error-message {
    color: #d9534f;
    margin-top: 5px;
  }
  
  button {
    background-color: #8c6654;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #634030;
  }
  
  @media only screen and (max-width: 768px) {
    .registration-container {
      padding: 10px;
    }
  }